*{
    font-family: 'Courier New';
    
}
h3{
    color: purple;
}
h1{
    color: #B92B27;
}
#login{
background-color: white;
}
#signup{
  background-color: #B92B27;
  color: white;
    
}
.upvote{
    background-color: green;
    color: aliceblue;

}